Repository novuhq/hacksquad-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

fix: update ticket layout
  src/components/pages/dynamic-ticket/dynamic-ticket.jsx
  src/components/shared/footer/footer.jsx
  src/styles/ticket.css
Due: prettier --write

feat: add leaderboard coming soon
  src/components/pages/leaderboard/hero/hero.jsx
Due: prettier --write

chore: clean leaderboard page
  .env.example
  src/app/leaderboard/page.js
  src/utils/get-teams.js
Due: prettier --write, eslint --cache --fix

fix: minor changes
  src/app/api/auth/[...nextauth]/route.js
  src/app/layout.jsx
  src/app/page.jsx
  src/components/pages/home/events/events.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/shared/button/button.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/header/header.jsx
  src/components/shared/sign-up-button/sign-up-button.jsx
  src/lib/auth.js
Due: prettier --write, eslint --cache --fix

feat: add initial my team page
  src/app/my-team/page.jsx
Due: prettier --write

chore: add small adjustments
  .env.example
  src/lib/auth.js
Due: prettier --write, eslint --cache --fix

chore: add small adjustments
  src/components/shared/sign-up-button/sign-up-button.jsx
Due: prettier --write

feat: add api leaderboard route
  src/app/api/leaderboard/route.js
Due: prettier --write, eslint --cache --fix

fix: minor changes
  src/app/api/leaderboard/route.js
Due: prettier --write, eslint --cache --fix

fix: manifest paths
  public/manifest.json
Due: none

fix: home page changes
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/question-and-answer/question-and-answer.jsx
  src/components/pages/home/twitter-timeline/twitter-timeline.jsx
  src/svgs/logo.svg
Due: prettier --write

feat: add ticket user
  next.config.js
  package-lock.json
  package.json
  prisma/migrations/20230913174711_dev/migration.sql
  prisma/schema.prisma
  src/app/ticket/[handle]/page.js
  src/app/ticket/page.js
  src/components/pages/dynamic-ticket/dynamic-ticket.jsx
  src/components/shared/sign-up-button/sign-up-button.jsx
  src/components/shared/social-share/index.js
  src/components/shared/social-share/social-share.jsx
  src/components/shared/social-share/twitter-share-button/index.js
  src/components/shared/social-share/twitter-share-button/tiwtter-share-button.jsx
  src/hooks/.gitkeep
  src/hooks/use-copy-to-clipboard.js
  src/lib/seo-data.js
  src/svgs/copy.inline.svg
  src/svgs/x-com.inline.svg
  src/utils/get-short-name.js
  src/utils/prisma.js
Due: prettier --write, eslint --cache --fix

fix: minor changes
  src/components/shared/devto/dev.to.list.jsx
  src/context/session-provider.jsx
Due: prettier --write

feat: add other api routes
  src/app/api/dev-to-articles/route.js
  src/app/api/dev-to-like/route.js
  src/app/api/dev-to/route.js
Due: prettier --write, eslint --cache --fix

fix: button styles
  src/components/pages/bonuses/hero/hero.jsx
  src/components/pages/join-squad/hero/hero.jsx
  src/components/pages/team/hero/team/team.jsx
  src/components/shared/invite/invite.button.js
  src/components/shared/twitter/twitter.button.jsx
  src/lib/twitter.js
Due: prettier --write, eslint --cache --fix

feat: add sign in page
  src/app/(website)/bonuses/page.jsx
  src/app/(website)/invite/[id]/page.jsx
  src/app/(website)/join-squad/page.jsx
  src/app/(website)/layout.jsx
  src/app/(website)/leaderboard/page.jsx
  src/app/(website)/my-team/page.jsx
  src/app/(website)/page.jsx
  src/app/(website)/sign-in/page.jsx
  src/app/(website)/team/[id]/page.jsx
Due: prettier --write

fix: minor changes
  src/app/(website)/bonuses/page.jsx
  src/app/(website)/invite/[id]/page.jsx
  src/app/(website)/join-squad/page.jsx
Due: prettier --write

fix: minor changes
  src/lib/auth.js
Due: prettier --write, eslint --cache --fix

feat: add dynamic og image
  public/images/social-previews/ticket-1.png
  public/images/social-previews/ticket-2.png
  public/images/social-previews/ticket-3.png
  public/images/social-previews/ticket-4.png
  public/images/social-previews/ticket-5.png
  public/images/social-previews/ticket-6.png
  src/app/api/og/route.jsx
  src/app/ticket/[handle]/page.js
  src/components/pages/dynamic-ticket/dynamic-ticket.jsx
  src/components/shared/social-share/social-share.jsx
  src/lib/seo-data.js
Due: prettier --write, eslint --cache --fix

feat: update ticket user schema
  src/app/api/og/route.jsx
  src/app/ticket/[handle]/page.jsx
  src/components/pages/dynamic-ticket/dynamic-ticket.jsx
  src/components/pages/home/hero/hero.jsx
Due: prettier --write

feat: add color schema saving
  src/app/api/auth/[...nextauth]/route.js
  src/app/api/update-user/route.js
  src/app/layout.jsx
  src/app/ticket/[handle]/page.jsx
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
  src/components/pages/ticket/dynamic-ticket/index.js
  src/context/session-provider.jsx
  src/lib/auth.js
Due: prettier --write, eslint --cache --fix

feat: add default ticket page
  src/app/api/og/route.jsx
  src/app/ticket/[handle]/page.jsx
  src/app/ticket/page.jsx
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write

feat: update ticket layout
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
  src/components/shared/header/header.jsx
Due: prettier --write

feat: add mono font
  public/fonts/jetbrains-mono-light.woff2
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
  src/styles/fonts.css
Due: prettier --write

feat: add middleware
  src/app/api/auth/[...nextauth]/route.js
  src/lib/auth.js
  src/middleware.js
  src/pages/api/auth/[...nextauth].js
Due: prettier --write, eslint --cache --fix

chore: handle ticket 404 page
  src/app/ticket/[handle]/page.jsx
  src/lib/seo-data.js
Due: prettier --write, eslint --cache --fix

chore: remove dev migartion.sql
  prisma/migrations/20230913174711_dev/migration.sql
Due: none

fix: header layout
  src/components/shared/header/header.jsx
Due: prettier --write

fix: minor changes
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
  src/lib/auth.js
  src/middleware.js
Due: prettier --write, eslint --cache --fix

fix: minor changes
  src/lib/auth.js
  src/middleware.js
Due: prettier --write, eslint --cache --fix

chore: add small adjustments
  src/app/(website)/sign-in/page.jsx
Due: prettier --write

chore: clean ticket pages
  src/app/ticket/page.jsx
Due: prettier --write

chore: add color picker to default ticket
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write

chore: add small adjustments
  src/app/(website)/invite/[id]/page.jsx
Due: prettier --write

chore: update home page styling
  src/app/page.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/twitter-timeline/twitter-timeline.jsx
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write

chore: update ticket mono font
  public/fonts/jetbrains-mono-light.woff2
  public/fonts/jetbrains-mono/jetbrains-mono-extralight.ttf
  public/fonts/jetbrains-mono/jetbrains-mono-extralight.woff2
  src/app/api/og/route.jsx
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
  src/styles/fonts.css
Due: prettier --write

chore: update footer layout
  src/components/shared/footer/footer.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

chore: remove color picker from home page
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write

chore: header logo improve
  src/app/layout.jsx
  src/components/shared/header/header.jsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,md}
  eslint --cache --fix: any of: *.js
