Repository novuhq/hacksquad-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Merge branch 'new-hacksquad' into myteam-redesign
  src/app/(website)/leaderboard/page.jsx
  src/components/pages/home/question-and-answer/question-and-answer.jsx
  src/components/pages/leaderboard/hero/hero.jsx
  src/components/pages/leaderboard/hero/images/bg-left-glitch.png
  src/components/pages/leaderboard/hero/images/bg-right-glitch.png
  src/components/pages/leaderboard/hero/images/bg-title-glitch.png
  src/components/shared/FAB/topfab.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/components/shared/seo/seo.jsx
  src/pages/leaderboard.jsx
  src/styles/global.css
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: update myteam page style
  src/components/pages/team/hero/hero.jsx
  src/pages/myteam.jsx
Due: prettier --write

feat: cleanup myteam page
  src/components/pages/team/hero/hero.jsx
  src/components/pages/team/hero/images/bg.jpg
  src/components/pages/team/hero/no-logged.jsx
  src/components/pages/team/hero/team.jsx
Due: prettier --write

feat: update logs page style
  src/components/pages/logs/hero/hero.jsx
  src/components/pages/logs/hero/images/bg-left-glitch.png
  src/components/pages/logs/hero/images/bg-right-glitch.png
  src/components/pages/logs/hero/images/bg-title-glitch.png
  src/pages/logs.jsx
Due: prettier --write

feat: update joinsquad page style
  src/components/pages/joinsquad/hero/hero.jsx
  src/components/pages/joinsquad/hero/images/bg.jpg
  src/pages/joinsquad.jsx
Due: prettier --write

feat: update claim-success page style
  src/components/pages/claim-success/hero/hero.jsx
  src/pages/claim-success.jsx
Due: prettier --write

feat: cleanup claim-success page
  src/components/pages/claim-success/hero/images/bg.jpg
  src/components/pages/claim-success/hero/images/discord.inline.svg
  src/components/pages/claim-success/hero/images/twitter.inline.svg
Due: none

feat: update bonuses page style
  src/components/pages/bonuses/hero/hero.jsx
  src/pages/bonuses.jsx
Due: prettier --write

fix: leaderboard table width
  src/components/pages/leaderboard/hero/hero.jsx
Due: prettier --write

fix: team hero links
  src/components/pages/team/hero/no.team.jsx
  src/components/pages/team/hero/team.jsx
Due: prettier --write

fix: bonuses table width
  src/components/pages/bonuses/hero/hero.jsx
Due: prettier --write

fix: logs table width
  src/components/pages/logs/hero/hero.jsx
Due: prettier --write

fix: hero text align
  src/components/pages/joinsquad/hero/hero.jsx
Due: prettier --write

feat: update repositories page styles
  src/components/pages/repositories/hero/hero.jsx
  src/components/pages/repositories/hero/images/bg-left-glitch.png
  src/components/pages/repositories/hero/images/bg-right-glitch.png
  src/components/pages/repositories/hero/images/bg-title-glitch.png
  src/pages/repositories.jsx
Due: prettier --write

fix: update teams component
  src/components/pages/teams/hero/hero.jsx
  src/components/pages/teams/hero/images/bg.jpg
  src/components/pages/teams/hero/images/discord.inline.svg
  src/components/pages/teams/hero/images/twitter.inline.svg
Due: prettier --write

fix: update old header Novu component
  src/components/shared/old-header/header.jsx
Due: prettier --write

fix: team hero button margin
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write

fix: rename header props userEmail to subscriberId
  src/app/(website)/layout.jsx
  src/components/shared/header/header.jsx
  src/components/shared/novu/novu.jsx
  src/components/shared/old-header/header.jsx
Due: prettier --write

Create Billing System.java
  Billing System.java
Due: none

Create Arraylist.js
  Arraylist.js
Due: prettier --write, eslint --cache --fix

feat: bonus number
  src/components/pages/bonuses/hero/hero.jsx
Due: prettier --write

feat: star bonus
  helpers/find.github.token.js
  helpers/twitter.js
  prisma/schema.prisma
  src/components/pages/bonuses/hero/hero.jsx
  src/components/pages/bonuses/hero/star.the.library.jsx
  src/pages/api/github-star.js
  src/pages/bonuses.jsx
Due: prettier --write, eslint --cache --fix

feat: rsvp
  src/components/pages/home/events/date.component.jsx
  src/components/pages/home/events/events.jsx
Due: prettier --write

feat: rules
  src/components/pages/home/question-and-answer/question-and-answer.jsx
Due: prettier --write

Update header.jsx
  src/components/shared/header/header.jsx
Due: prettier --write

Add .nvmrc file specifying Node.js version
  .nvmrc
Due: none

Update hero.jsx
  src/components/pages/home/hero/hero.jsx
Due: prettier --write

LinearSinglyLinkedList.c
  LinearSinglyLinkedList.c
Due: none

feat: score board
  src/components/pages/repositories/hero/hero.jsx
Due: prettier --write

feat: crowd
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write

fix: leaderboard url host name issues
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write

feat: leaderboard
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write

feat: plausible
  package-lock.json
  package.json
  src/app/(website)/layout.jsx
  src/components/shared/sign-up-button/sign-up-button.jsx
Due: prettier --write

feat: star the library
  src/components/pages/bonuses/hero/star.the.library.jsx
Due: prettier --write

Create Creating Hex Codes.js
  Creating Hex Codes.js
Due: prettier --write, eslint --cache --fix

feat: plausible stars
  src/pages/_app.jsx
  src/pages/_document.jsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,md}
  eslint --cache --fix: any of: *.js
