Repository novuhq/hacksquad-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{js,jsx,html,css,md}": "prettier --write",
  "*.js": "eslint --cache --fix"
}

fix: dynamic ticket priority and quality
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write

fix: remove ticket sign button from home page
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write

feat: add other pages
  .env.example
  package-lock.json
  package.json
  src/app/(website)/claim-success/page.jsx
  src/app/(website)/friend/[id]/page.jsx
  src/app/(website)/invite/[id]/page.jsx
  src/app/(website)/live/page.jsx
  src/app/(website)/logs/page.jsx
  src/app/(website)/novu/page.jsx
  src/app/(website)/winner/page.jsx
  src/app/api/claim/route.js
  src/app/api/logs/route.js
  src/app/api/team/route.js
  src/app/api/users/route.js
  src/components/pages/claim-success/hero/hero.jsx
  src/components/pages/claim-success/hero/index.js
  src/components/pages/claim/hero/form/form.jsx
  src/components/pages/claim/hero/form/index.js
  src/components/pages/claim/hero/hero.jsx
  src/components/pages/claim/hero/index.js
  src/components/pages/claim/hero/no-win/index.js
  src/components/pages/claim/hero/no-win/no-win.jsx
  src/components/pages/claim/hero/socials/index.js
  src/components/pages/claim/hero/socials/socials.jsx
  src/components/pages/home/events/events.jsx
  src/components/pages/home/question-and-answer/question-and-answer.jsx
  src/components/pages/home/twitter-timeline/twitter-timeline.jsx
  src/components/pages/join-squad/hero/hero.jsx
  src/components/pages/leaderboard/hero/hero.jsx
  src/components/pages/logs/hero/hero.jsx
  src/components/pages/logs/hero/index.js
  src/components/pages/team/hero/hero.jsx
  src/components/shared/input/index.js
  src/components/shared/input/input.jsx
  src/components/shared/join-us/join-us.jsx
  src/components/shared/select/index.js
  src/components/shared/select/select.jsx
  src/lib/events.js
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

fix: minor changes
  package-lock.json
Due: none

fix: minor changes
  package-lock.json
  package.json
  src/components/pages/logs/hero/hero.jsx
Due: prettier --write

chore: add small adjustments
  src/app/api/claim/route.js
Due: prettier --write, eslint --cache --fix

fix: minor changes
  src/app/api/og/route.jsx
  src/app/api/update-user/route.js
  src/app/leaderboard/page.js
  src/app/ticket/[handle]/page.jsx
  src/lib/get-short-name.js
  src/lib/get-teams.js
  src/utils/.gitkeep
  src/utils/prisma.js
Due: prettier --write, eslint --cache --fix

fix: minor changes
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write

chore: add small adjustments
  src/app/(website)/layout.jsx
  src/app/(website)/leaderboard/page.js
  src/app/(website)/my-team/page.jsx
  src/app/(website)/page.jsx
  src/app/(website)/ticket/[handle]/page.jsx
  src/app/(website)/ticket/page.jsx
Due: prettier --write, eslint --cache --fix

fix: minor changes
  package-lock.json
  src/app/(website)/ticket/[handle]/page.jsx
Due: prettier --write

fix: minor changes
  package-lock.json
  package.json
  src/components/shared/sign-up-button/sign-up-button.jsx
Due: prettier --write

fix: minor changes
  src/components/pages/home/twitter-timeline/twitter-timeline.jsx
  src/components/shared/sign-up-button/sign-up-button.jsx
Due: prettier --write

fix: style optimization and improvements
  src/app/(website)/page.jsx
  src/components/pages/home/events/events.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/hero/images/home-hero.jpg
  src/components/pages/home/hero/images/home-hero.png
  src/components/pages/home/hero/sponsors/sponsors.jsx
  src/components/pages/home/question-and-answer/question-and-answer.jsx
  src/components/pages/home/twitter-timeline/twitter-timeline.jsx
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
  src/components/shared/header/header.jsx
  src/components/shared/sign-up-button/sign-up-button.jsx
Due: prettier --write

fix: minor changes
  src/components/pages/home/hero/hero.jsx
Due: prettier --write

chore: add small adjustments
  src/components/pages/home/twitter-timeline/twitter-timeline.jsx
Due: prettier --write

fix: minor changes
  src/app/(website)/sign-in/page.jsx
  src/components/pages/bonuses/hero/hero.jsx
  src/components/pages/claim-success/hero/hero.jsx
  src/components/pages/claim/hero/no-win/no-win.jsx
  src/components/pages/logs/hero/hero.jsx
  src/components/pages/team/hero/hero.jsx
Due: prettier --write

fix: minor changes
  src/middleware.js
Due: prettier --write, eslint --cache --fix

fix: og font buffer
  src/app/api/og/route.jsx
Due: prettier --write

fix: revert og font buffer
  src/app/api/og/route.jsx
Due: prettier --write

fix: og font URL update
  src/app/api/og/route.jsx
Due: prettier --write

fix: change og font type
  public/fonts/jetbrains-mono/jetbrains-mono-extralight.woff
  src/app/api/og/route.jsx
Due: prettier --write

fix: test og font url
  src/app/api/og/route.jsx
Due: prettier --write

fix: remove custom og font
  src/app/api/og/route.jsx
Due: prettier --write

fix: ticket – remove sign-up button from home for authorized
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write

fix: minor changes
  src/components/shared/sign-up-button/sign-up-button.jsx
Due: prettier --write

chore: update twitter-timeline link weight
  src/components/pages/home/twitter-timeline/twitter-timeline.jsx
Due: prettier --write

chore: remove legacy jetbrains-mono files
  public/fonts/jetbrains-mono/jetbrains-mono-extralight.ttf
  public/fonts/jetbrains-mono/jetbrains-mono-extralight.woff
Due: none

fix: get teams for leaderboard page
  src/app/(website)/leaderboard/page.jsx
  src/components/pages/leaderboard/hero/hero.jsx
  src/lib/get-teams.js
Due: prettier --write, eslint --cache --fix

fix: auto asign team
  src/app/api/auto-join/route.js
Due: prettier --write, eslint --cache --fix

fix: minor changes
  src/components/pages/team/hero/team/team.jsx
Due: prettier --write

fix: api response
  src/app/api/auto-join/route.js
  src/app/api/change-team/route.js
  src/app/api/claim/route.js
  src/app/api/create-team/route.js
  src/app/api/dev-to-articles/route.js
  src/app/api/disqualified-member/route.js
  src/app/api/disqualified/route.js
  src/app/api/invite/route.js
  src/app/api/kick/route.js
  src/app/api/leave-team/route.js
  src/app/api/remove-pr/route.js
Due: prettier --write, eslint --cache --fix

feat: update leaderboard hero and join-us style
  src/app/(website)/layout.jsx
  src/components/pages/leaderboard/hero/hero.jsx
  src/components/shared/join-us/join-us.jsx
  src/svgs/discord.svg
  src/svgs/github.svg
  src/svgs/x-com.svg
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

fix: leaderboard hero index
  src/components/pages/leaderboard/hero/hero.jsx
Due: prettier --write

fix: revert another footer
  src/components/shared/footer/footer.jsx
Due: prettier --write

feat: update hero illustration
  next.config.js
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/hero/images/home-hero.jpg
  src/components/pages/home/hero/images/home-hero.png
Due: prettier --write, eslint --cache --fix

fix: update mobile sign-up button
  src/components/shared/header/header.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
Due: prettier --write

fix: update logo quality
  src/components/shared/header/header.jsx
  src/svgs/logo.svg
Due: prettier --write

fix: align mobile sign-up button
  src/components/shared/mobile-menu/mobile-menu.jsx
Due: prettier --write

chore: update logo
  src/svgs/logo.svg
Due: none
