Repository novuhq/hacksquad-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

chore: add join-us links and update leaderboard hero
  src/components/pages/leaderboard/hero/hero.jsx
  src/components/shared/join-us/join-us.jsx
Due: prettier --write

chore: logging update-user route
  src/app/api/update-user/route.js
Due: prettier --write, eslint --cache --fix

fix: simplify update-user route
  src/app/api/update-user/route.js
Due: prettier --write, eslint --cache --fix

fix: enable ssr for ticket page
  src/app/(website)/ticket/[handle]/page.jsx
  src/app/(website)/ticket/page.jsx
Due: prettier --write

feat: add hover style
  src/components/pages/home/twitter-timeline/twitter-timeline.jsx
  src/components/shared/button/button.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/header/header.jsx
  src/components/shared/join-us/join-us.jsx
  src/components/shared/sign-up-button/sign-up-button.jsx
  src/components/shared/social-share/social-share.jsx
  src/styles/border-with-gradient.css
  src/styles/main.css
Due: prettier --write

chore: add small adjustments
  src/svgs/logo.svg
Due: none

fix: minor changes
  prisma/migrations/20230915160852_new_version/migration.sql
  prisma/migrations/20230915163043_new_field_ticket/migration.sql
  prisma/schema.prisma
  src/app/(website)/page.jsx
  src/app/(website)/ticket/[handle]/page.jsx
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write

fix: minor changes
  prisma/migrations/20230915171834_new_field_ticket/migration.sql
  prisma/schema.prisma
  src/app/(website)/ticket/[handle]/page.jsx
  src/app/(website)/ticket/page.jsx
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write

chore: add small adjustments
  src/app/(website)/page.jsx
Due: prettier --write

chore: add small adjustments
  src/app/api/leaderboard/route.js
Due: prettier --write, eslint --cache --fix

fix: minor changes
  prisma/schema.prisma
  src/app/(website)/leaderboard/page.jsx
Due: prettier --write

chore: update schema
  prisma/migrations/20230915175559_new_repositiry_model/migration.sql
Due: none

fix: minor changes
  src/app/(website)/ticket/page.jsx
Due: prettier --write

fix: minor changes
  src/app/(website)/page.jsx
  src/app/(website)/ticket/page.jsx
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write

fix: move update-user to pages
  src/app/api/update-user/route.js
  src/pages/api/update-user.js
Due: prettier --write, eslint --cache --fix

chore: add small adjustments
  src/app/api/og/route.jsx
Due: prettier --write

fix: minor changes
  src/app/api/update-user/route.js
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write, eslint --cache --fix

chore: add small adjustments
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write

fix: update og image route
  src/app/(website)/ticket/[handle]/page.jsx
  src/app/api/og/route.jsx
Due: prettier --write

fix: minor changes
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write

fix: minor changes
  src/app/(website)/ticket/[handle]/page.jsx
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write

chore: add small adjustments
  src/app/(website)/leaderboard/page.jsx
Due: prettier --write

chore: add small adjustments
  src/app/(website)/leaderboard/page.js
Due: prettier --write, eslint --cache --fix

fix: minor changes
  src/app/(website)/leaderboard/page.jsx
  src/components/pages/leaderboard/hero/hero.jsx
Due: prettier --write

feat: add mailchimp integration
  src/lib/auth.js
Due: prettier --write, eslint --cache --fix

fix: minor changes
  .env.example
  src/app/api/claim/route.js
Due: prettier --write, eslint --cache --fix

fix: minor changes
  .env.example
  prisma/migrations/20230915160852_new_version/migration.sql
  prisma/migrations/20230915163043_new_field_ticket/migration.sql
  prisma/migrations/20230915175559_new_repositiry_model/migration.sql
  prisma/schema.prisma
  src/app/(website)/leaderboard/page.jsx
  src/app/(website)/page.jsx
  src/app/(website)/ticket/[handle]/page.jsx
  src/app/(website)/ticket/page.jsx
  src/app/api/claim/route.js
  src/app/api/leaderboard/route.js
  src/app/api/og/route.jsx
  src/app/api/update-user/route.js
  src/components/pages/leaderboard/hero/hero.jsx
  src/components/pages/teams/hero/hero.jsx
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
  src/components/shared/devto/dev.to.list.jsx
  src/lib/auth.js
  src/lib/create-slug.js
Due: prettier --write, eslint --cache --fix

fix: minor changes
  src/pages/api/update-user.js
Due: prettier --write, eslint --cache --fix

fix: display share buttons
  src/app/(website)/page.jsx
  src/lib/auth.js
Due: prettier --write, eslint --cache --fix

fix: minor changes
  .eslintrc.js
  src/app/(website)/repositories/page.jsx
  src/app/api/change-repository-status/route.js
  src/app/api/repositories-list/route.js
  src/app/api/repository/route.js
  src/components/pages/bonuses/hero/hero.jsx
  src/components/pages/repositories/hero/hero.jsx
  src/components/pages/repositories/hero/index.js
  src/components/pages/repositories/hero/status/index.js
  src/components/pages/repositories/hero/status/status.jsx
  src/components/shared/header/header.jsx
  src/lib/auth.js
  src/lib/twitter.js
Due: prettier --write, eslint --cache --fix

feat: add notification center
  package-lock.json
  package.json
  src/components/shared/header/header.jsx
  src/components/shared/novu/custom-bell/custom-bell.jsx
  src/components/shared/novu/custom-bell/index.js
  src/components/shared/novu/index.js
  src/components/shared/novu/novu.jsx
  src/svgs/bell.inline.svg
Due: prettier --write, eslint --cache --fix

chore: add small adjustments
  .env.example
Due: none

fix: seo meta data
  src/lib/get-metadata.js
Due: prettier --write, eslint --cache --fix

chore: revalidate leaderboard
  src/app/(website)/leaderboard/page.jsx
Due: prettier --write

test: revalidate leaderboard page
  src/app/(website)/leaderboard/page.jsx
  src/components/pages/leaderboard/hero/hero.jsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,md}
  eslint --cache --fix: any of: *.js
