Repository novuhq/hacksquad-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Create fizzbuzz.dart
  fizzbuzz.dart
Due: none

Create simple_graph.dart
  simple_graph.dart
Due: none

Create vertex.dart
  vertex.dart
Due: none

Create voterpage.dart
  voterpage.dart
Due: none

Create radixsort.dart
  radixsort.dart
Due: none

Create armstrong_number.dart
  armstrong_number.dart
Due: none

Create SecondLargestWithSort.dart
  SecondLargestWithSort.dart
Due: none

Create votenow.dart
  votenow.dart
Due: none

chore: minor packages update
  package-lock.json
  package.json
Due: none

feat: setup base fonts
  public/fonts/cal-sans/cal-sans-semibold.woff2
  public/vercel.svg
  src/app/about/page.js
  src/app/layout.jsx
  src/app/page.jsx
  src/styles/fonts.css
  src/styles/global.css
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: repositories changes
  helpers/repository.status.js
  helpers/twitter.js
  prisma/migrations/20230910043637_init/migration.sql
  prisma/schema.prisma
  src/components/pages/bonuses/hero/hero.jsx
  src/components/pages/repositories/hero/hero.jsx
  src/components/pages/repositories/hero/images/bg-left-glitch.png
  src/components/pages/repositories/hero/images/bg-right-glitch.png
  src/components/pages/repositories/hero/images/bg-title-glitch.png
  src/components/pages/repositories/hero/index.js
  src/components/pages/teams/hero/hero.jsx
  src/components/shared/header/header.jsx
  src/pages/api/auth/[...nextauth].js
  src/pages/api/change-repository-status.js
  src/pages/api/repositories-list.js
  src/pages/api/repository.js
  src/pages/repositories.jsx
Due: prettier --write, eslint --cache --fix

feat: add desktop layout
  next.config.js
  src/app/layout.jsx
  src/components/shared/button/button.jsx
  src/components/shared/button/index.js
  src/components/shared/footer/footer.jsx
  src/components/shared/footer/index.js
  src/components/shared/header/header.jsx
  src/components/shared/header/index.js
  src/components/shared/link/index.js
  src/components/shared/mobile-menu/index.js
  src/components/shared/seo/index.js
  src/constants/links.js
  src/constants/menus.js
  src/icons/arrow.inline.svg
  src/layouts/layout-main/index.js
  src/layouts/layout-main/layout-main.jsx
  src/styles/container.css
  src/styles/fonts.css
  src/styles/global.css
  src/svgs/arrow-up.inline.svg
  src/svgs/logo.svg
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: add adaptive for layout
  .commitlintrc.json
  src/components/shared/burger/burger.jsx
  src/components/shared/burger/index.js
  src/components/shared/button/button.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/header/header.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/svgs/arrow-right.inline.svg
Due: prettier --write, eslint --cache --fix

feat: add hero section
  src/app/page.jsx
  src/components/pages/.gitkeep
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/hero/images/home-hero.jpg
  src/components/pages/home/hero/index.js
  src/components/pages/home/hero/sponsors/index.js
  src/components/pages/home/hero/sponsors/sponsors.jsx
  src/svgs/logos/crowd-dev.svg
  src/svgs/logos/hanko.svg
  src/svgs/logos/tool-jet.svg
  src/svgs/logos/wasp.svg
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: add FAQ section
  src/app/page.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/question-and-answer/index.js
  src/components/pages/home/question-and-answer/question-and-answer.jsx
  src/styles/global.css
Due: prettier --write, eslint --cache --fix

feat: add events section
  src/app/page.jsx
  src/components/pages/home/events/events.jsx
  src/components/pages/home/events/index.js
  src/components/pages/home/hero/sponsors/sponsors.jsx
Due: prettier --write, eslint --cache --fix

feat: add SignUpButton component
  src/components/pages/home/events/events.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/shared/sign-up-button/index.js
  src/components/shared/sign-up-button/sign-up-button.jsx
  src/styles/button-animation.css
Due: prettier --write, eslint --cache --fix

feat: add events calendar links
  src/components/pages/home/events/events.jsx
  src/svgs/calendar.inline.svg
Due: prettier --write

chore: add favicon
  public/favicon/favicon-144x144.png
  public/favicon/favicon-192x192.png
  public/favicon/favicon-256x256.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon-384x384.png
  public/favicon/favicon-48x48.png
  public/favicon/favicon-512x512.png
  public/favicon/favicon-72x72.png
  public/favicon/favicon-96x96.png
  public/favicon/manifest.webmanifest
Due: none

chore: update seo component
  .env
  .env.example
  public/favicon/favicon.png
  public/manifest.json
  src/app/head.jsx
  src/app/page.jsx
  src/components/shared/seo/index.js
  src/components/shared/seo/seo.jsx
  src/lib/get-metadata.js
  src/lib/seo-data.js
Due: prettier --write, eslint --cache --fix

chore: remove default-props warnings
  .eslintrc.js
  src/components/shared/burger/burger.jsx
  src/components/shared/button/button.jsx
  src/components/shared/link/link.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/components/shared/sign-up-button/sign-up-button.jsx
Due: prettier --write, eslint --cache --fix

chore: update gitignore
  .env
  .gitignore
Due: none

chore: update seo component
  .env.example
  .gitignore
  public/favicon/favicon.png
  public/manifest.json
  src/app/head.jsx
  src/app/page.jsx
  src/components/shared/seo/index.js
  src/components/shared/seo/seo.jsx
  src/lib/get-metadata.js
  src/lib/seo-data.js
Due: prettier --write, eslint --cache --fix

feat: add leaderboard page
  .env.example
  src/app/leaderboard/page.js
  src/components/pages/.gitkeep
  src/components/pages/leaderboard/hero/hero.jsx
  src/components/pages/leaderboard/hero/index.js
  src/lib/seo-data.js
  src/utils/.gitkeep
  src/utils/get-teams.js
Due: prettier --write, eslint --cache --fix

feat: add join us component
  src/app/leaderboard/page.js
  src/components/pages/leaderboard/hero/hero.jsx
  src/components/shared/join-us/index.js
  src/components/shared/join-us/join-us.jsx
  src/svgs/discord.svg
  src/svgs/github.svg
  src/svgs/x-com.svg
Due: prettier --write, eslint --cache --fix

chore: add events coming soon
  src/components/pages/home/events/events.jsx
  src/styles/global.css
Due: prettier --write

feat: add initial auth settings
  package-lock.json
  package.json
  prisma/client.js
  prisma/migrations/20230912130848_initial/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/app/api/[...nextauth]/route.js
  src/lib/auth.js
Due: prettier --write, eslint --cache --fix

chore: add small adjustments
  package-lock.json
  package.json
Due: none

fix: minor changes
  package-lock.json
  package.json
  src/lib/auth.js
Due: prettier --write, eslint --cache --fix

feat: add twitter section
  src/app/page.jsx
  src/components/pages/home/twitter-timeline/images/user-1-content.jpg
  src/components/pages/home/twitter-timeline/images/user-1.jpg
  src/components/pages/home/twitter-timeline/images/user-2.jpg
  src/components/pages/home/twitter-timeline/images/user-3.jpg
  src/components/pages/home/twitter-timeline/images/user-4-content.jpg
  src/components/pages/home/twitter-timeline/images/user-4.jpg
  src/components/pages/home/twitter-timeline/images/user-5.jpg
  src/components/pages/home/twitter-timeline/images/user-6.jpg
  src/components/pages/home/twitter-timeline/images/user-7-content.jpg
  src/components/pages/home/twitter-timeline/images/user-7.jpg
  src/components/pages/home/twitter-timeline/images/user-8.jpg
  src/components/pages/home/twitter-timeline/index.js
  src/components/pages/home/twitter-timeline/twitter-timeline.jsx
  src/styles/global.css
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: update home page design
  src/components/pages/home/events/events.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/hero/images/home-hero.jpg
  src/components/pages/home/hero/sponsors/sponsors.jsx
  src/components/pages/home/twitter-timeline/twitter-timeline.jsx
  src/components/shared/header/header.jsx
  src/components/shared/sign-up-button/sign-up-button.jsx
  src/styles/global.css
  src/svgs/logos/crowd-dev.svg
  src/svgs/logos/hanko.svg
  src/svgs/logos/tool-jet.svg
  src/svgs/logos/wasp.svg
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

chore: sign-up-button pass the children
  src/components/pages/home/events/events.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/shared/sign-up-button/sign-up-button.jsx
Due: prettier --write

chore: comment drafted events
  src/components/pages/home/events/events.jsx
Due: prettier --write

chore: rebuild leaderboard page
  src/components/pages/leaderboard/hero/hero.jsx
  src/components/shared/header/header.jsx
  src/components/shared/join-us/join-us.jsx
Due: prettier --write

fix: minor changes
  package-lock.json
  src/lib/auth.js
Due: prettier --write, eslint --cache --fix

feat: add ticket page
  public/images/ticket-1.png
  public/images/ticket-2.png
  public/images/ticket-3.png
  public/images/ticket-4.png
  public/images/ticket-5.png
  public/images/ticket-6.png
  src/app/ticket/page.js
  src/components/pages/dynamic-ticket/dynamic-ticket.jsx
  src/components/pages/dynamic-ticket/index.js
  src/lib/seo-data.js
  src/styles/main.css
  src/styles/ticket.css
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: update tailwind config
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: add static user ticket info
  src/components/pages/dynamic-ticket/dynamic-ticket.jsx
  src/components/pages/home/events/events.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/question-and-answer/question-and-answer.jsx
  src/components/pages/home/twitter-timeline/twitter-timeline.jsx
  src/styles/ticket.css
  src/svgs/github.inline.svg
  src/svgs/logo-one-color.inline.svg
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,md}
  eslint --cache --fix: any of: *.js
