Repository novuhq/hacksquad-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{js,jsx,html,css,md}": "prettier --write",
  "*.js": "eslint --cache --fix"
}

fix: mobile moderation
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write

fun stuff 1
  src/pages/team/[id].jsx
Due: prettier --write

fun stuff 2
  package-lock.json
Due: none

fix: key warning
  src/components/pages/leaderboard/hero/hero.jsx
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write

feat: fix event
  src/components/pages/home/events/events.jsx
Due: prettier --write

chore: none, just deploy
  src/components/pages/home/events/events.jsx
Due: prettier --write

style: added swag item's popup & desc
  package-lock.json
  package.json
  src/components/pages/home/swag/desc/desc.js
  src/components/pages/home/swag/swag.jsx
  src/styles/swag.module.css
Due: prettier --write, eslint --cache --fix

feat: added leave team feature
  prisma/migrations/20221004030301_/migration.sql
  prisma/migrations/20221004100623_user_created_at/migration.sql
  prisma/schema.prisma
  src/components/pages/team/hero/team.jsx
  src/pages/api/leave-team.js
Due: prettier --write, eslint --cache --fix

chore: update error log
  src/components/pages/team/hero/team.jsx
Due: prettier --write

feat: update leaderboard UI
  src/components/pages/joinsquad/hero/hero.jsx
  src/components/pages/leaderboard/hero/hero.jsx
  src/components/pages/leaderboard/hero/images/bg-left-glitch.png
  src/components/pages/leaderboard/hero/images/bg-right-glitch.png
  src/components/pages/leaderboard/hero/images/bg-title-glitch.png
  src/components/pages/leaderboard/hero/images/bg.jpg
  src/components/pages/leaderboard/hero/images/discord.inline.svg
  src/components/pages/leaderboard/hero/images/twitter.inline.svg
  src/components/pages/team/hero/hero.jsx
  src/components/pages/team/hero/images/discord.inline.svg
  src/components/pages/team/hero/images/twitter.inline.svg
  src/components/pages/thank-you/hero/hero.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/socials/index.js
  src/components/shared/socials/socials.jsx
  src/images/social/discord.inline.svg
  src/images/social/twitter.inline.svg
  src/layouts/layouts/layout-main/layout-main.jsx
  src/pages/leaderboard.jsx
Due: prettier --write, eslint --cache --fix

feat: update leaderboard mobile styles
  src/components/pages/leaderboard/hero/hero.jsx
  src/components/shared/footer/footer.jsx
  src/pages/leaderboard.jsx
Due: prettier --write

Add focus indicator to buttons
  src/components/shared/button/button.jsx
  src/styles/global.css
Due: prettier --write

fix: add aria labels to icon only links and buttons
  helpers/novu.js
  src/components/pages/joinsquad/hero/hero.jsx
  src/components/pages/team/hero/team.jsx
Due: prettier --write, eslint --cache --fix

chore: correcting and maintaining the versions of package files
  package-lock.json
  package.json
Due: none

chore: minor design adjustments
  src/components/pages/home/events/events.jsx
Due: prettier --write

fix: update code with requested change
  prisma/migrations/20221004030301_/migration.sql
  prisma/migrations/20221004100623_user_created_at/migration.sql
  src/components/pages/team/hero/team.jsx
  src/pages/api/leave-team.js
Due: prettier --write, eslint --cache --fix

fix: update page change on successfully leaving team
  src/components/pages/team/hero/team.jsx
Due: prettier --write

fix: update naming and logic for new member detection
  src/components/pages/team/hero/team.jsx
Due: prettier --write

fix: rename footer prop
  src/components/shared/footer/footer.jsx
  src/layouts/layouts/layout-main/layout-main.jsx
Due: prettier --write

added connect links in homepage
  src/components/shared/connect/connect.jsx
  src/components/shared/connect/images/discord.inline.svg
  src/components/shared/connect/images/twitter.inline.svg
  src/components/shared/connect/index.js
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

feat: twitter connect
  .env.example
  helpers/find.user.and.team.js
  helpers/twitter.js
  prisma/schema.prisma
  src/components/pages/bonuses/hero/hero.jsx
  src/components/pages/bonuses/hero/images/bg.jpg
  src/components/pages/bonuses/hero/images/discord.inline.svg
  src/components/pages/bonuses/hero/images/twitter.inline.svg
  src/components/pages/bonuses/hero/index.js
  src/components/pages/team/hero/team.jsx
  src/components/shared/twitter/twitter.button.jsx
  src/pages/bonuses.jsx
Due: prettier --write, eslint --cache --fix

feat: twitter connect
  .env.example
Due: none

feat: twitter connected
  src/components/pages/team/hero/team.jsx
Due: prettier --write

feat: twitter connected
  helpers/twitter.js
Due: prettier --write, eslint --cache --fix

feat: twitter connected
  .env.example
Due: none

feat: test
  .env.example
Due: none

fix: update NoLogged render with Socials component
  src/components/pages/team/hero/no-logged.jsx
Due: prettier --write

added goTo top fab
  src/components/shared/FAB/index.js
  src/components/shared/FAB/topfab.jsx
  src/components/shared/connect/connect.jsx
  src/components/shared/connect/images/discord.inline.svg
  src/components/shared/connect/images/twitter.inline.svg
  src/components/shared/connect/index.js
  src/pages/index.jsx
  src/pages/joinsquad.jsx
  src/pages/leaderboard.jsx
  src/pages/myteam.jsx
  src/pages/thank-you.jsx
  src/styles/fab.css
  src/styles/main.css
Due: prettier --write, eslint --cache --fix

feat: typ
  src/components/pages/bonuses/hero/hero.jsx
Due: prettier --write

feat: update hero background visibility
  src/components/pages/leaderboard/hero/hero.jsx
Due: prettier --write

fix: update mobile table container
  src/components/pages/leaderboard/hero/hero.jsx
Due: prettier --write

feat: register with an invite
  helpers/find.user.and.team.js
  package-lock.json
  package.json
  prisma/schema.prisma
  src/components/pages/bonuses/hero/hero.jsx
  src/components/shared/invite/invite.button.js
  src/pages/api/auth/[...nextauth].js
  src/pages/friend/[id].jsx
  src/pages/joinsquad.jsx
Due: prettier --write, eslint --cache --fix

fix: fixed import order
  src/pages/index.jsx
  src/pages/leaderboard.jsx
  src/pages/myteam.jsx
Due: prettier --write

style: added swag item img urls
  src/components/pages/home/swag/desc/desc.js
Due: prettier --write, eslint --cache --fix

feat: pr list
  src/components/pages/team/hero/team.jsx
Due: prettier --write

fix: mobile view
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write
