Repository novuhq/hacksquad-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

fix: leaderboard mobile view
  src/components/pages/leaderboard/hero/hero.jsx
Due: prettier --write

fix: remove email
  helpers/find.user.and.team.js
Due: prettier --write, eslint --cache --fix

feat: fix
  helpers/find.user.and.team.js
Due: prettier --write, eslint --cache --fix

feat: remove email
  helpers/find.team.js
  helpers/find.user.and.team.js
Due: prettier --write, eslint --cache --fix

Added field for showing rank in the 'My Squad' page
  src/components/pages/team/hero/team.jsx
Due: prettier --write

feat: fix email
  helpers/find.user.and.team.js
  src/components/pages/team/hero/team.jsx
Due: prettier --write, eslint --cache --fix

Added Squad Score #68
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write

refactor: best practices removed nested await
  src/pages/myteam.jsx
Due: prettier --write

Reverted animation commit
  src/components/shared/header/header.jsx
  src/components/shared/navbar/navbar.jsx
Due: prettier --write

create pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

create issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

fix: bonuses page
  src/components/pages/bonuses/hero/hero.jsx
Due: prettier --write

Style: updated scroll to top button position
  src/styles/fab.css
Due: prettier --write

feat: add 'cleaner' role for helping with moderation actions
  helpers/use.moderator.jsx
  prisma/schema.prisma
  src/components/pages/teams/hero/hero.jsx
  src/pages/api/mod.js
  src/pages/api/remove-pr.js
Due: prettier --write, eslint --cache --fix

github link added
  src/components/shared/socials/socials.jsx
  src/images/social/github.inline.svg
Due: prettier --write

feat: PRs on myteam
  src/components/pages/team/hero/team.jsx
Due: prettier --write

refactor: merged prs
  src/components/pages/team/hero/merged-prs.jsx
  src/components/pages/team/hero/team.jsx
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write

refactor: merged prs
  src/components/pages/team/hero/team.jsx
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write

feat: new event
  src/components/pages/home/events/events.jsx
Due: prettier --write

feat: fix timezones
  src/components/pages/home/events/events.jsx
Due: prettier --write

feat: added feature to delete PRs without reloading the page
  src/components/pages/teams/hero/hero.jsx
  src/pages/api/remove-pr.js
Due: prettier --write, eslint --cache --fix

feat: added action logs for all moderation actions
  prisma/client.js
  prisma/schema.prisma
  src/pages/api/disqualified-member.js
  src/pages/api/disqualified.js
  src/pages/api/kick.js
  src/pages/api/remove-pr.js
Due: prettier --write, eslint --cache --fix

update discord link
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

update discord link
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

fix: removePr method
  src/components/pages/team/hero/merged-prs.jsx
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write

fix: broken link
  README.md
Due: prettier --write

style: improved btn position for medium devices
  src/styles/fab.css
Due: prettier --write

fix: fixed desktop viewport position
  src/styles/fab.css
Due: prettier --write

fix: make requested change
  src/pages/api/kick.js
Due: prettier --write, eslint --cache --fix

feat: socials
  src/components/shared/socials/socials.jsx
Due: prettier --write

feat: change
  src/pages/api/disqualified-member.js
  src/pages/api/disqualified.js
  src/pages/api/kick.js
  src/pages/api/remove-pr.js
Due: prettier --write, eslint --cache --fix

feat: bot
  prisma/schema.prisma
Due: none

fix: update logic failure on recent changes
  prisma/schema.prisma
  src/pages/api/remove-pr.js
Due: prettier --write, eslint --cache --fix

fix: chore
  src/components/pages/team/hero/merged-prs.jsx
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write

fix: merged prs
  src/components/pages/team/hero/merged-prs.jsx
  src/components/pages/team/hero/team.jsx
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write

fix: import order
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write

chore: add CI file
  .github/workflows/node.js.yml
Due: none

fix: send team
  src/components/pages/teams/hero/hero.jsx
  src/pages/api/remove-pr.js
Due: prettier --write, eslint --cache --fix

feat: logs
  prisma/schema.prisma
  src/pages/api/logs.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,md}
  eslint --cache --fix: any of: *.js
