Repository novuhq/hacksquad-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

feat: clickvote
  src/components/pages/bonuses/hero/hero.jsx
  src/components/pages/bonuses/hero/star.the.library.jsx
  src/pages/api/github-star.js
Due: prettier --write, eslint --cache --fix

feat: clickvote'
  src/components/pages/bonuses/hero/hero.jsx
Due: prettier --write

feat: fix bonus
  src/components/pages/bonuses/hero/star.the.library.jsx
Due: prettier --write

Create DSA BUBBLE SORT
  DSA BUBBLE sort
Due: none

Create DSA
  DSA
Due: none

Updated team.jsx in src/components/pages/team/hero/team.jsx and added the responsive code for the message section
  src/components/pages/team/hero/team.jsx
Due: prettier --write

feat: bonus
  prisma/schema.prisma
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write

feat: align GitHub
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write

feat: tooljet slack
  src/components/pages/bonuses/hero/hero.jsx
  src/components/pages/home/events/events.jsx
Due: prettier --write

feat: events
  src/components/pages/home/events/events.jsx
Due: prettier --write

feat: nuxt
  src/components/pages/home/events/events.jsx
Due: prettier --write

feat: leaderboard change
  prisma/schema.prisma
  src/pages/api/leaderboard.js
Due: prettier --write, eslint --cache --fix

feat: smaller than 0
  src/pages/api/leaderboard.js
Due: prettier --write, eslint --cache --fix

Create React Counter.js
  React Counter.js
Due: prettier --write, eslint --cache --fix

feat: bonuses
  src/components/pages/team/hero/team.jsx
Due: prettier --write

🎁 Add link to repositories url
  src/components/pages/repositories/hero/hero.jsx
Due: prettier --write

Create External.CSS
  External.CSS
Due: none

Create InteractiveTO-DO List.html
  InteractiveTO-DO List.html
Due: prettier --write

Create code3
  code3
Due: none

Create Get the Middle value.js
  Get the Middle value.js
Due: prettier --write, eslint --cache --fix

Update hero.jsx
  src/components/pages/leaderboard/hero/hero.jsx
Due: prettier --write

feat: fixed expired events
  src/components/pages/home/events/events.jsx
Due: prettier --write

Create Critical Temperature.js
  Critical Temperature.js
Due: prettier --write, eslint --cache --fix

Create html
  html
Due: none

Fixed #145 Added Code_Of_Conduct
  CODE_OF_CONDUCT.md
Due: prettier --write

Create hash.py
  hash.py
Due: none

Update README.md
  README.md
Due: prettier --write

Create mergesort.java
  mergesort.java
Due: none

feat: more events
  src/components/pages/home/events/events.jsx
Due: prettier --write

feat: fix
  src/components/pages/home/events/events.jsx
Due: prettier --write

feat: powered by
  package-lock.json
  package.json
  src/components/pages/home/events/events.jsx
  src/components/pages/teams/hero/hero.jsx
  src/components/shared/votes/votes.component.jsx
Due: prettier --write

Fix navbar position and imporve stylling
  src/components/shared/header/header.jsx
Due: prettier --write

FIxed #179 Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

Create array.py
  array.py
Due: none

Create turtleFractalTree.py
  turtleFractalTree.py
Due: none

feat: star the library
  src/components/pages/bonuses/hero/star.the.library.jsx
Due: prettier --write

feat: no referer
  src/components/pages/bonuses/hero/star.the.library.jsx
Due: prettier --write

feat: no referer
  .eslintrc.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,md}
  eslint --cache --fix: any of: *.js
