Repository novuhq/hacksquad-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{js,jsx,html,css,md}": "prettier --write",
  "*.js": "eslint --cache --fix"
}

feat: mobile fix
  src/components/shared/old-sign-up-button/sign-up-button.jsx
Due: prettier --write

fix: minor changes
  src/pages/invite/[id].jsx
  src/pages/leaderboard.jsx
  src/pages/team/[id].jsx
Due: prettier --write

fix: add Novu to sponsors list and fix FAQ html
  src/components/pages/home/hero/sponsors/sponsors.jsx
  src/components/pages/home/question-and-answer/question-and-answer.jsx
  src/svgs/logos/novu.svg
Due: prettier --write

fix: logic of displaying buttons for a ticket
  src/app/(website)/ticket/[handle]/page.jsx
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write

fix: minor changes
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write

fix: sponsors anchor
  src/components/pages/home/hero/sponsors/sponsors.jsx
Due: prettier --write

chore: update twitter-timeline content
  src/components/pages/home/twitter-timeline/images/user-10-content.jpg
  src/components/pages/home/twitter-timeline/images/user-10.jpg
  src/components/pages/home/twitter-timeline/images/user-11-content.jpg
  src/components/pages/home/twitter-timeline/images/user-11.jpg
  src/components/pages/home/twitter-timeline/images/user-12-content.jpg
  src/components/pages/home/twitter-timeline/images/user-12.jpg
  src/components/pages/home/twitter-timeline/images/user-2-content.jpg
  src/components/pages/home/twitter-timeline/images/user-2.jpg
  src/components/pages/home/twitter-timeline/images/user-3-content.jpg
  src/components/pages/home/twitter-timeline/images/user-3.jpg
  src/components/pages/home/twitter-timeline/images/user-4-content.jpg
  src/components/pages/home/twitter-timeline/images/user-4.jpg
  src/components/pages/home/twitter-timeline/images/user-5-content.jpg
  src/components/pages/home/twitter-timeline/images/user-5.jpg
  src/components/pages/home/twitter-timeline/images/user-6-content.jpg
  src/components/pages/home/twitter-timeline/images/user-6.jpg
  src/components/pages/home/twitter-timeline/images/user-7-content.jpg
  src/components/pages/home/twitter-timeline/images/user-7.jpg
  src/components/pages/home/twitter-timeline/images/user-8-content.jpg
  src/components/pages/home/twitter-timeline/images/user-8.jpg
  src/components/pages/home/twitter-timeline/images/user-9-content.jpg
  src/components/pages/home/twitter-timeline/images/user-9.jpg
  src/components/pages/home/twitter-timeline/twitter-timeline.jsx
Due: prettier --write

chore: update twitter-timeline styles
  src/components/pages/home/twitter-timeline/twitter-timeline.jsx
  src/styles/global.css
Due: prettier --write

feat: add social preview
  public/images/social-previews/main.jpg
  src/lib/get-metadata.js
Due: prettier --write, eslint --cache --fix

fix: minor changes
  src/lib/get-metadata.js
Due: prettier --write, eslint --cache --fix

fix: show full name for default ticket
  src/app/api/og/route.jsx
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write

fix: update user
  src/app/api/update-user/route.js
Due: prettier --write, eslint --cache --fix

feat: font and image optimization
  next.config.js
  src/app/(website)/ticket/[handle]/page.jsx
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write, eslint --cache --fix

fix: minor changes
  src/app/(website)/ticket/page.jsx
Due: prettier --write

chore: optimize images
  public/images/ticket-1.png
  public/images/ticket-2.png
  public/images/ticket-3.png
  public/images/ticket-4.png
  public/images/ticket-5.png
  public/images/ticket-6.png
Due: none

fix: logs page and add ReactSearchAutocomplete
  package-lock.json
  package.json
  src/components/pages/logs/hero/hero.jsx
  src/components/pages/logs/hero/images/bg-left-glitch.png
  src/components/pages/logs/hero/images/bg-right-glitch.png
  src/components/pages/logs/hero/images/bg-title-glitch.png
  src/components/pages/logs/hero/index.js
  src/pages/logs.jsx
Due: prettier --write, eslint --cache --fix

fix: update leaderboard design
  src/components/pages/leaderboard/hero/hero.jsx
  src/pages/leaderboard.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

fix: ticket styles
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
Due: prettier --write

fix: update sign-up button hover
  src/components/shared/sign-up-button/sign-up-button.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

fix: update leaderboard row hover
  src/components/pages/leaderboard/hero/hero.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

fix: minor changes
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
  src/components/shared/social-share/social-share.jsx
Due: prettier --write

fix: minor changes
  src/components/pages/ticket/dynamic-ticket/dynamic-ticket.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/social-share/social-share.jsx
Due: prettier --write

fix: minor changes
  src/components/shared/footer/footer.jsx
Due: prettier --write

fix: update layout styles
  public/fonts/inter/inter-bold.woff2
  public/fonts/inter/inter-light.woff2
  public/fonts/inter/inter-medium.woff2
  public/fonts/inter/inter-regular.woff2
  public/fonts/inter/inter-semibold.woff2
  src/components/shared/footer/footer.jsx
  src/components/shared/old-footer/footer.jsx
  src/components/shared/old-header/header.jsx
  src/old-styles/container.css
  src/old-styles/fonts.css
Due: prettier --write

Update team.jsx
  src/components/pages/team/hero/team.jsx
Due: prettier --write

fix: add isAuthorized flag for old-header and old-footer
  src/components/shared/old-footer/footer.jsx
  src/components/shared/old-header/header.jsx
Due: prettier --write

fix: update old styles font family
  src/old-styles/global.css
Due: prettier --write

fix: add old-header/old-footer loading status handler
  src/components/shared/old-footer/footer.jsx
  src/components/shared/old-header/header.jsx
Due: prettier --write

fix: add new sign-up button to mobile menu
  src/components/shared/mobile-menu/mobile-menu.jsx
Due: prettier --write

fix: update leaderboard style
  src/components/pages/leaderboard/hero/hero.jsx
  src/old-styles/border-with-gradient.css
  src/old-styles/main.css
Due: prettier --write

fix: update leaderboard style
  src/components/pages/leaderboard/hero/hero.jsx
Due: prettier --write

fix: update old seo component
  src/components/shared/seo/seo.jsx
Due: prettier --write

fix: update faq component
  src/components/pages/home/question-and-answer/question-and-answer.jsx
Due: prettier --write

fix: join-us rounded
  src/components/shared/join-us/join-us.jsx
Due: prettier --write

chore: update styles for readme file
  README.md
Due: prettier --write

feat: redesign myteam page
  public/fonts/inter/inter-bold.woff2
  public/fonts/inter/inter-light.woff2
  public/fonts/inter/inter-medium.woff2
  public/fonts/inter/inter-regular.woff2
  public/fonts/inter/inter-semibold.woff2
  src/components/pages/team/hero/hero.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/join-us/join-us.jsx
  src/components/shared/old-footer/footer.jsx
  src/components/shared/old-header/header.jsx
  src/components/shared/sign-up-button/sign-up-button.jsx
  src/old-styles/border-with-gradient.css
  src/old-styles/container.css
  src/old-styles/fonts.css
  src/old-styles/global.css
  src/old-styles/main.css
  src/pages/myteam.jsx
Due: prettier --write

fix: minor chages
  src/app/(website)/leaderboard/page.jsx
  src/components/pages/leaderboard/hero/hero.jsx
  src/components/pages/leaderboard/hero/images/bg-left-glitch.png
  src/components/pages/leaderboard/hero/images/bg-right-glitch.png
  src/components/pages/leaderboard/hero/images/bg-title-glitch.png
  src/components/shared/FAB/topfab.jsx
  src/pages/leaderboard.jsx
Due: prettier --write

chore: update inter-light font file
  public/fonts/inter/inter-light.woff2
Due: none

chore: add small adjustments
  src/styles/global.css
Due: prettier --write
