Repository novuhq/hacksquad-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

chore: improvements for background images
  public/horizontal-line.png
  public/vertical-line.png
  src/components/pages/home/events/events.jsx
  src/components/pages/home/events/images/bg-left-line.png
  src/components/pages/home/events/images/bg-left-square.png
Due: prettier --write, eslint --cache --fix

chore: add small adjustments
  src/components/pages/home/hero/hero.jsx
  src/components/shared/section-heading/section-heading.jsx
Due: prettier --write, eslint --cache --fix

feat(): readme change
  README.md
Due: prettier --write

feat(): team
  README.md
Due: prettier --write

feat(): description
  README.md
Due: prettier --write

fix: sizes for logos
  src/components/pages/home/hero/sponsors/images/amplication.url.svg
  src/components/pages/home/hero/sponsors/images/appwrite.url.svg
  src/components/pages/home/hero/sponsors/images/daily-dev.url.svg
  src/components/pages/home/hero/sponsors/images/fonoster.url.svg
  src/components/pages/home/hero/sponsors/images/mattermost.url.svg
  src/components/pages/home/hero/sponsors/images/medusa.url.svg
  src/components/pages/home/hero/sponsors/images/novu.url.svg
  src/components/pages/home/hero/sponsors/images/tooljet.url.svg
  src/components/pages/home/hero/sponsors/images/vercel.url.svg
  src/components/pages/home/hero/sponsors/sponsors.jsx
Due: prettier --write, eslint --cache --fix

chore: update the Readme file
  README.md
Due: prettier --write

feat(): alternative text
  src/components/shared/sign-up-button/sign-up-button.jsx
Due: prettier --write, eslint --cache --fix

feat(): change
  package-lock.json
  package.json
  src/components/pages/team/hero/team.jsx
  src/components/pages/team/popup.jsx
  src/components/shared/header/header.jsx
  src/pages/leaderboard.jsx
  src/pages/myteam.jsx
Due: prettier --write, eslint --cache --fix

feat(): static props from local machine
  src/pages/leaderboard.jsx
Due: prettier --write, eslint --cache --fix

feat(): dynamic render
  src/pages/leaderboard.jsx
Due: prettier --write, eslint --cache --fix

feat(): move fetching
  helpers/find.user.and.team.js
  package-lock.json
  src/components/pages/team/hero/hero.jsx
  src/components/shared/sign-up-button/sign-up-button.jsx
  src/pages/invite/[id].jsx
  src/pages/myteam.jsx
Due: prettier --write, eslint --cache --fix

feat(): absolute option
  helpers/find.user.and.team.js
  src/components/shared/header/header.jsx
  src/layouts/layouts/layout-main/layout-main.jsx
  src/pages/myteam.jsx
Due: prettier --write, eslint --cache --fix

feat(): leaderboard
  src/pages/leaderboard.jsx
Due: prettier --write, eslint --cache --fix

fix(): remove height 100vh
  src/components/pages/leaderboard/hero/hero.jsx
  src/components/pages/team/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

feat(): teams
  README.md
Due: prettier --write

feat(): 60 teams
  src/components/pages/home/question-and-answer/question-and-answer.jsx
Due: prettier --write, eslint --cache --fix

feat(): take 100
  src/pages/api/leaderboard.js
Due: prettier --write, eslint --cache --fix

feat(): seo fix
  src/components/shared/seo/seo.jsx
Due: prettier --write, eslint --cache --fix

fix(): seo
  src/components/shared/seo/seo.jsx
Due: prettier --write, eslint --cache --fix

Add leaderboard link to mobile menus
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

fix: sponsors change
  src/components/pages/home/hero/sponsors/sponsors.jsx
Due: prettier --write, eslint --cache --fix

fix: added more information
  README.md
  src/components/pages/home/question-and-answer/question-and-answer.jsx
  src/components/pages/home/swag/swag.jsx
  src/components/pages/thank-you/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

feat: typo fix
  src/components/pages/home/question-and-answer/question-and-answer.jsx
Due: prettier --write, eslint --cache --fix

fix: typo
  src/components/pages/home/question-and-answer/question-and-answer.jsx
Due: prettier --write, eslint --cache --fix

feat(): prisma
  prisma/schema.prisma
Due: none

fix: faq add
  src/components/pages/home/question-and-answer/question-and-answer.jsx
Due: prettier --write, eslint --cache --fix

hacksquad setup
  package-lock.json
Due: none

fix: no freeloaders :)
  src/components/pages/home/question-and-answer/question-and-answer.jsx
Due: prettier --write, eslint --cache --fix

bug: fix table css mobile
  src/components/pages/leaderboard/hero/hero.jsx
  src/components/pages/team/hero/team.jsx
Due: prettier --write, eslint --cache --fix

feat(): prs
  .env.example
  helpers/create-slug.js
  helpers/find.team.js
  package-lock.json
  prisma/schema.prisma
  src/components/pages/teams/hero/hero.jsx
  src/components/pages/teams/hero/images/bg.jpg
  src/components/pages/teams/hero/images/discord.inline.svg
  src/components/pages/teams/hero/images/twitter.inline.svg
  src/components/pages/teams/hero/index.js
  src/pages/api/auto-join.js
  src/pages/api/create-team.js
  src/pages/api/team.js
  src/pages/team/[id].jsx
Due: prettier --write, eslint --cache --fix

feat(): remove score
  src/components/pages/teams/hero/hero.jsx
  src/pages/api/team.js
Due: prettier --write, eslint --cache --fix

fix: no score
  prisma/schema.prisma
Due: none

feat: kick from team
  helpers/use.moderator.jsx
  prisma/schema.prisma
  src/components/pages/teams/hero/hero.jsx
  src/pages/api/kick.js
  src/pages/api/leaderboard.js
  src/pages/api/mod.js
Due: prettier --write, eslint --cache --fix

fix: kick
  src/pages/api/kick.js
Due: prettier --write, eslint --cache --fix

feat: added Novu
  .env.example
  helpers/novu.js
  helpers/send-notification.js
  package-lock.json
  package.json
  src/components/shared/header/header.jsx
  src/pages/api/auto-join.js
  src/pages/api/invite.js
  src/styles/global.css
Due: prettier --write, eslint --cache --fix

fix: lazy load novu
  src/components/shared/header/header.jsx
Due: prettier --write, eslint --cache --fix

fix: dynamic load
  src/components/shared/header/header.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,md}
  eslint --cache --fix: any of: *.{js,jsx}
