Repository novuhq/hacksquad-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

feat: no referer
  src/components/pages/bonuses/hero/star.the.library.jsx
Due: prettier --write

Added CONTRIBUTING.md and CODE_OF_CONDUCT.md . Closes #193
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: prettier --write

feat: novu change
  src/components/pages/home/events/events.jsx
Due: prettier --write

feat: product hunt launch
  .env.example
  helpers/twitter.js
  prisma/schema.prisma
  src/components/pages/bonuses/hero/hero.jsx
  src/components/shared/product-hunt/product-hunt.button.jsx
  src/pages/api/product-hunt.js
  src/pages/bonuses.jsx
Due: prettier --write, eslint --cache --fix

feat: bonus
  src/app/(website)/layout.jsx
  src/components/shared/banner/banner.jsx
  src/components/shared/header/header.jsx
Due: prettier --write

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

feat: fork
  helpers/twitter.js
  prisma/schema.prisma
  src/components/pages/bonuses/hero/fork.the.library.jsx
  src/components/pages/bonuses/hero/hero.jsx
  src/pages/api/github-fork.js
  src/pages/bonuses.jsx
Due: prettier --write, eslint --cache --fix

feat: bonuses
  src/components/pages/bonuses/hero/hero.jsx
Due: prettier --write

feat: bonus fix
  src/components/pages/bonuses/hero/fork.the.library.jsx
Due: prettier --write

Create chess.py
  chess.py
Due: none

feat: show prs
  helpers/repository.status.js
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

feat: fix
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write

feat: forks
  src/pages/bonuses.jsx
Due: prettier --write

Create tictactoe.cpp
  tictactoe.cpp
Due: none

feat: product hunt
  src/app/(website)/layout.jsx
  src/components/shared/product-hunt/product-hunt.button.jsx
  src/pages/api/product-hunt.js
Due: prettier --write, eslint --cache --fix

feat: fix
  src/components/shared/header/header.jsx
Due: prettier --write

grammatical-error-fix-QnA
  src/components/pages/home/question-and-answer/question-and-answer.jsx
Due: prettier --write

Update question-and-answer.jsx
  src/components/pages/home/question-and-answer/question-and-answer.jsx
Due: prettier --write

changes
  src/components/pages/claim/hero/form.jsx
Due: prettier --write

change2
  src/components/pages/no-win/hero/hero.jsx
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

feat: livecycle event
  src/components/pages/home/events/events.jsx
Due: prettier --write

feat: events
  src/components/pages/home/events/events.jsx
Due: prettier --write

feat: livecycle
  src/components/pages/home/events/events.jsx
Due: prettier --write

feat: airtable fix
  prisma/schema.prisma
  src/components/pages/claim/hero/form.jsx
  src/components/pages/claim/hero/hero.jsx
  src/components/pages/claim/hero/images/bg.jpg
  src/components/pages/claim/hero/index.js
  src/components/pages/claim/hero/no-logged.jsx
  src/layouts/layouts/layout-main/layout-main.jsx
  src/pages/api/claim.js
Due: prettier --write, eslint --cache --fix

feat: claim location
  src/components/pages/claim-success/hero/hero.jsx
  src/components/pages/claim/hero/form.jsx
  src/components/pages/claim/hero/hero.jsx
Due: prettier --write

Create techstack.yml
  techstack.yml
Due: none

Create techstack.md
  techstack.md
Due: prettier --write

Update techstack.yml
  techstack.yml
Due: none

Update techstack.md
  techstack.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,md}
  eslint --cache --fix: any of: *.js
