Repository novuhq/hacksquad-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

feat: order by
  src/pages/api/logs.js
Due: prettier --write, eslint --cache --fix

Add margin to bottom of socials
  src/components/shared/socials/socials.jsx
Due: prettier --write

fix: footer alignment of myteam section
  src/components/pages/team/hero/hero.jsx
Due: prettier --write

fix: send message on mobile
  src/components/pages/team/hero/team.jsx
Due: prettier --write

feat: fix event
  src/components/pages/home/events/events.jsx
Due: prettier --write

feat: passed events
  src/components/pages/home/events/events.jsx
Due: prettier --write

feat(): novu event
  src/components/pages/home/events/events.jsx
Due: prettier --write

Create patterntriangleusing*.cpp
  patterntriangleusing*.cpp
Due: none

Create swapingoftwonumbers.cpp
  swapingoftwonumbers.cpp
Due: none

Create findfactorial.cpp
  findfactorial.cpp
Due: none

fix: kicking from a room
  src/pages/api/kick.js
Due: prettier --write, eslint --cache --fix

Add files via upload
  guess number/gauss.css
  guess number/gauss.html
  guess number/gauss.js
Due: prettier --write, eslint --cache --fix

Add files via upload
  gauss.js
Due: prettier --write, eslint --cache --fix

feat: show winners
  src/components/pages/leaderboard/hero/hero.jsx
Due: prettier --write

fix: link
  src/components/pages/leaderboard/hero/hero.jsx
Due: prettier --write

feat: cancel event
  src/components/pages/home/events/events.jsx
Due: prettier --write

feat: logs
  package-lock.json
  package.json
  prisma/schema.prisma
  src/components/pages/logs/hero/hero.jsx
  src/components/pages/logs/hero/images/bg-left-glitch.png
  src/components/pages/logs/hero/images/bg-right-glitch.png
  src/components/pages/logs/hero/images/bg-title-glitch.png
  src/components/pages/logs/hero/index.js
  src/pages/api/logs.js
  src/pages/api/users.js
  src/pages/logs.jsx
Due: prettier --write, eslint --cache --fix

feat: logs
  .eslintrc.js
Due: prettier --write, eslint --cache --fix

Create solidity.md
  solidity.md
Due: prettier --write

feat: score
  prisma/schema.prisma
  src/components/pages/teams/hero/hero.jsx
  src/pages/api/winners.js
Due: prettier --write, eslint --cache --fix

Update README.md
  README.md
Due: prettier --write

message
  package-lock.json
  package.json
  src/components/pages/home/events/events.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/question-and-answer/question-and-answer.jsx
Due: prettier --write

feat: dev to article
  helpers/find.user.and.team.js
  helpers/twitter.js
  package-lock.json
  package.json
  prisma/schema.prisma
  src/components/pages/bonuses/hero/hero.jsx
  src/components/shared/devto/dev.to.jsx
  src/components/shared/devto/dev.to.list.jsx
  src/components/shared/devto/tooltip.jsx
  src/layouts/layouts/layout-main/layout-main.jsx
  src/pages/api/dev-to-articles.js
  src/pages/api/dev-to-like.js
  src/pages/api/dev-to.js
  src/pages/bonuses.jsx
Due: prettier --write, eslint --cache --fix

feat: events
  helpers/events.js
  src/components/pages/home/events/events.jsx
  src/components/shared/banner/banner.jsx
  src/components/shared/header/header.jsx
  src/layouts/layouts/layout-main/layout-main.jsx
  src/pages/live.jsx
Due: prettier --write, eslint --cache --fix

feat: rerender
  src/components/shared/header/header.jsx
Due: prettier --write

feat: going live
  helpers/events.js
Due: prettier --write, eslint --cache --fix

feat(): rerener
  src/components/shared/banner/banner.jsx
Due: prettier --write

feat: rerender
  src/components/shared/banner/banner.jsx
Due: prettier --write

feat: cleaner
  src/components/pages/teams/hero/hero.jsx
Due: prettier --write

Create oeiujerl.gfv
  oeiujerl.gfv
Due: none

feat(): novu event
  helpers/events.js
Due: prettier --write, eslint --cache --fix

feat: articles
  src/pages/api/dev-to-articles.js
Due: prettier --write, eslint --cache --fix

Update tooltip.jsx
  src/components/shared/devto/tooltip.jsx
Due: prettier --write

feat(): hacksquad prize claim
  .env.example
  helpers/find.team.js
  helpers/find.user.and.team.js
  package-lock.json
  package.json
  src/components/pages/claim-success/hero/hero.jsx
  src/components/pages/claim-success/hero/images/bg.jpg
  src/components/pages/claim-success/hero/images/discord.inline.svg
  src/components/pages/claim-success/hero/images/twitter.inline.svg
  src/components/pages/claim-success/hero/index.js
  src/components/pages/claim/hero/form.jsx
  src/components/pages/claim/hero/hero.jsx
  src/components/pages/claim/hero/images/bg.jpg
  src/components/pages/claim/hero/index.js
  src/components/pages/claim/hero/no-logged.jsx
  src/components/pages/team/hero/hero.jsx
  src/components/pages/team/hero/team.jsx
  src/components/shared/button/input.jsx
  src/components/shared/button/select.jsx
  src/pages/api/claim.js
  src/pages/api/dev-to-like.js
  src/pages/api/team.js
  src/pages/api/winners.js
  src/pages/claim-success.jsx
  src/pages/myteam.jsx
  src/pages/winner.jsx
Due: prettier --write, eslint --cache --fix

feat: add Scroll Top button in Team Page
  src/pages/team/[id].jsx
Due: prettier --write

feat: fix nav
  .env.example
  helpers/find.user.and.team.js
Due: prettier --write, eslint --cache --fix

fix: add missing meta description
  src/components/shared/seo/seo.jsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,md}
  eslint --cache --fix: any of: *.js
